<h1>Websocket Chat</h1>
<p>This is a simple demonstration of how websockets can be used to make a chat app. This example operates on only 1
  GLOBAL chat room and messages aren't stored in a database. Grab a friend or open this page in a second browser and
  start sending messages. A message log will be built and displayed below as messages are exchanged.</p>

<h1>ADV service messages:</h1>
<h4 *ngFor="let msg of advMessages; ">
  {{msg | json}}
</h4>
<button type="button" class="btn btn-danger" (click)="this.advService.closeConnection()">Close connection</button>
<button type="button" class="btn btn-warning" (click)="sub.unsubscribe()">Unsub</button>
<form class="text-center" #advmessageForm="ngForm" (ngSubmit)="advSubmit(advmessageForm)" ngNativeValidate>
  <div class="row my-3 align-items-center">
    <div class="col-sm-12">
      <input required type="text" class="form-control" placeholder="Message" aria-label="Message"
             name="message" [(ngModel)]="advModel.newMessage">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Send Message</button>
</form>
<hr>
<h1>ADV service messages:</h1>
<h4 *ngFor="let msg of advMessages2; ">
  {{msg | json}}
</h4>
<button type="button" class="btn btn-danger" (click)="this.advService.closeConnection()">Close connection</button>
<button type="button" class="btn btn-warning" (click)="sub2.unsubscribe()">Unsub</button>
<form class="text-center" #advmessageForm2="ngForm" (ngSubmit)="advSubmit(advmessageForm2)" ngNativeValidate>
  <div class="row my-3 align-items-center">
    <div class="col-sm-12">
      <input required type="text" class="form-control" placeholder="Message" aria-label="Message"
             name="message" [(ngModel)]="advModel2.newMessage">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Send Message</button>
</form>
